@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Stefan Dantchev<br />
    Phone: 0888-554810 <br />
</address>

<address>
    <strong>e-mail:</strong>   <a href="mailto:st_dantchev@abv.bg">st_dantchev@abv.bg</a><br />
</address>